<a href="https://colab.research.google.com/github/vn322/RUDN_Lab_Works/blob/main/SQL_lab_4_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Оператор UNION объединения нескольких таблиц**

Предположим, у нас имеются две таблицы с одинаковой структурой:

tab1 поля: score- числовое, from - строка указывющая что это поле из tab1

100 tab1

200 tab1

300 tab1

tab2 поля:
score- числовое, from - строка указывющая что это поле из tab2

200 tab2

300 tab2

400 tab2

Все эти записи можно объединить в один сводный отчет с помощью оператора UNION:
(помнитм про from в обратных кавычках, потому что в colab в текстовом поле они не отбражаются, как вот в следующем запросе, но они там есть!)

In [ ]:
SELECT score, `from` FROM tab1 UNION SELECT val, type FROM tab2

поле `from` в обратных одинарных кавычках, чтобы указать, что это не оператор FROM, а поле с именем from

**SELECT score FROM tab1 UNION SELECT val FROM tab2**

 UNION оставляет только уникальные значения записей

(100  (200  300)  400)


Даже если в первую таблицу добавить еще одну строку со значением 100:

100   tab1

**SELECT score FROM tab1**

у первой таблицы во всех полях from укажем имя tab2 (помнитм про from в обратных ковычках):

In [ ]:
UPDATE tab1 SET `from` = 'tab2'

Вернем записям первой таблицы значения tab1(помнитм про from в обратных ковычках):

**UPDATE tab1 SET `from` = 'tab1'**

In [ ]:
UPDATE tab1 SET `from` = 'tab1'

и выполним

**SELECT score, 'table 1' as tbl FROM tab1 UNION**

 **SELECT val, 'table 2' FROM tab2**

Здесь явно указали значение второго поля как 'table 1' для первой таблицы и 'table 2' – для второй. И чтобы СУБД «знала» какое имя присвоить второму столбцу, оно указано в виде алиаса tbl

Также можно добавить сортировку сводной таблицы, например, по полю score:

SELECT score, 'table 1' as tbl FROM tab1
UNION SELECT val, 'table 2' FROM tab2
ORDER BY score DESC

Или, добавить фильтр и ограничение максимального числа записей:

In [ ]:
SELECT score, 'table 1' as tbl FROM tab1 WHERE score IN(300, 400)
UNION SELECT val, 'table 2' FROM tab2
ORDER BY score DESC
LIMIT 3


# **Вложенные SQL-запросы**

## **Задание 1**

Создайте таблицу с именем students и полями id name sex old и marks с полями id (id студента из таблицы students), subject, mark.
Какие типы полей надо выбрать? какие должны быть дипазоны значений?

Заполните их для 4-5 студентов и предметов Си Химия ДифУры

In [69]:
import sqlite3


try:
    sqlite_connection = sqlite3.connect('uni.db')
    cursor = sqlite_connection.cursor()
    print("База данных создана и успешно подключена к SQLite")

    sqlite_select_query = "select sqlite_version();" #создается запрос для получения версии базы данны
    cursor.execute(sqlite_select_query)
    record = cursor.fetchall()
    print("Версия базы данных SQLite: ", record)
    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных создана и успешно подключена к SQLite
Версия базы данных SQLite:  [('3.37.2',)]
Соединение с SQLite закрыто

In [70]:
import sqlite3

try:
    sqlite_connection = sqlite3.connect('uni.db')
    sqlite_create_table_query = '''CREATE TABLE students (
                                id INTEGER PRIMARY KEY,
                                name TEXT,
                                sex INTEGER,
                                old INTEGER
                                );'''

    cursor = sqlite_connection.cursor()
    print("База данных подключена к SQLite")
    cursor.execute(sqlite_create_table_query)
    sqlite_connection.commit()
    print("Таблица SQLite создана")

    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Таблица SQLite создана
Соединение с SQLite закрыто

In [71]:
import sqlite3

try:
    sqlite_connection = sqlite3.connect('uni.db')
    sqlite_create_table_query = '''CREATE TABLE marks (
                                id INTEGER,
                                subject TEXT,
                                mark INTEGER
                                );'''

    cursor = sqlite_connection.cursor()
    print("База данных подключена к SQLite")
    cursor.execute(sqlite_create_table_query)
    sqlite_connection.commit()
    print("Таблица SQLite создана")

    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Таблица SQLite создана
Соединение с SQLite закрыто

In [72]:
import sqlite3
import traceback
import sys

try:
    sqlite_connection = sqlite3.connect('uni.db')
    cursor = sqlite_connection.cursor()
    print("База данных подключена к SQLite")

    sqlite_insert_query = """INSERT INTO students (id, name, sex, old )
                            VALUES (1, 'Аnri', 1, 22),
                                    (2, 'Serg', 1, 20),
                                    (3, 'Linda', 2, 19),
                                    (4, 'Anne', 2, 19),
                                    (5, 'Fred', 1, 21)"""

    count = cursor.execute(sqlite_insert_query)
    sqlite_connection.commit()
    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  5
Соединение с SQLite закрыто

In [73]:
import sqlite3

# Устанавливаем соединение с базой данных
connection = sqlite3.connect('uni.db')
cursor = connection.cursor()

# Выбираем всех
cursor.execute('SELECT * FROM students')
users = cursor.fetchall()

# Выводим результаты
for name in users:
  print(name)

# Закрываем соединениеimport sqlite3

# Закрываем соединение
connection.close()

(1, 'Аnri', 1, 22)
(2, 'Serg', 1, 20)
(3, 'Linda', 2, 19)
(4, 'Anne', 2, 19)
(5, 'Fred', 1, 21)

In [74]:
import sqlite3
import traceback
import sys

try:
    sqlite_connection = sqlite3.connect('uni.db')
    cursor = sqlite_connection.cursor()
    print("База данных подключена к SQLite")

    sqlite_insert_query = """INSERT INTO marks (id, subject, mark)
                            VALUES (1,'Си', 5),

                                    (2,'Си', 4),

                                    (3,'Си', 3),

                                    (4,'Химия', 4),

                                    (5, 'ДифУры', 5)"""

    count = cursor.execute(sqlite_insert_query)
    sqlite_connection.commit()
    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  5
Соединение с SQLite закрыто

In [75]:
import sqlite3

# Устанавливаем соединение с базой данных
connection = sqlite3.connect('uni.db')
cursor = connection.cursor()

# Выбираем всех
cursor.execute('SELECT * FROM marks')
users = cursor.fetchall()

# Выводим результаты
for name in users:
  print(name)

# Закрываем соединениеimport sqlite3

# Закрываем соединение
connection.close()

(1, 'Си', 5)
(2, 'Си', 4)
(3, 'Си', 3)
(4, 'Химия', 4)
(5, 'ДифУры', 5)

## **Задание 2**

Что делают запросы?

In [ ]:
SELECT mark FROM marks
WHERE id = 2 AND subject LIKE 'Си'

запрос должен показать оценку по языку Си как у студента с id = 2

In [76]:
import sqlite3

# Устанавливаем соединение с базой данных
connection = sqlite3.connect('uni.db')
cursor = connection.cursor()

# Выбираем всех
cursor.execute("SELECT mark FROM marks WHERE id = 2 AND subject LIKE 'Си'")
users = cursor.fetchall()

# Выводим результаты
for name in users:
  print(name)

# Закрываем соединениеimport sqlite3

# Закрываем соединение
connection.close()

(4,)

In [ ]:
SELECT name, subject, mark FROM marks
JOIN students ON students.rowid = marks.id
WHERE mark > 3 AND subject LIKE 'Си'

запрос должен выбрать всех студентов, у которых оценка по языку Си выше 3

In [77]:
import sqlite3

# Устанавливаем соединение с базой данных
connection = sqlite3.connect('uni.db')
cursor = connection.cursor()

# Выбираем всех
cursor.execute("SELECT name, subject, mark FROM marks JOIN students ON students.rowid = marks.id WHERE mark > 3 AND subject LIKE 'Си'")
users = cursor.fetchall()

# Выводим результаты
for name in users:
  print(name)

# Закрываем соединениеimport sqlite3

# Закрываем соединение
connection.close()

('Аnri', 'Си', 5)
('Serg', 'Си', 4)

## **Задание 3**
Что делают запросы?

In [ ]:
SELECT name, subject, mark FROM marks
JOIN students ON students.rowid = marks.id
WHERE mark > (SELECT mark FROM marks
WHERE id = 2 AND subject LIKE 'Си')
AND subject LIKE 'Си'

запрос должен выбрать всех студентов, у которых оценка по языку Си выше, чем у студента с id = 2

In [78]:
import sqlite3

# Устанавливаем соединение с базой данных
connection = sqlite3.connect('uni.db')
cursor = connection.cursor()

# Выбираем всех
cursor.execute("SELECT name, subject, mark FROM marks JOIN students ON students.rowid = marks.id WHERE mark > (SELECT mark FROM marks WHERE id = 2 AND subject LIKE 'Си') AND subject LIKE 'Си'")
users = cursor.fetchall()

# Выводим результаты
for name in users:
  print(name)

# Закрываем соединениеimport sqlite3

# Закрываем соединение
connection.close()

('Аnri', 'Си', 5)

In [ ]:

SELECT name, subject, mark FROM marks
JOIN students ON students.rowid = marks.id
WHERE mark > (SELECT mark FROM marks WHERE id = 2 )
AND subject LIKE 'Си'

В этом случае будет использован только первый полученный результат, другие попросту проигнорируются и результат будет тем же

In [79]:
import sqlite3

# Устанавливаем соединение с базой данных
connection = sqlite3.connect('uni.db')
cursor = connection.cursor()

# Выбираем всех
cursor.execute("SELECT name, subject, mark FROM marks JOIN students ON students.rowid = marks.id WHERE mark > (SELECT mark FROM marks WHERE id = 2 ) AND subject LIKE 'Си'")
users = cursor.fetchall()

# Выводим результаты
for name in users:
  print(name)

# Закрываем соединениеimport sqlite3

# Закрываем соединение
connection.close()

('Аnri', 'Си', 5)

# **Возвращение нескольких записей**



Если вложенный запрос вернет несколько записей (оценок), то  этом случае будет использован только первый полученный результат, другие попросту проигнорируются и результат будет тем же .

Если же вложенный SELECT ничего не находит (возвращает значение NULL), то внешний запрос не будет возвращать никаких записей.

следует обращать внимание, что подзапросы не могут обрабатывать свои результаты, поэтому в них нельзя указывать, например, оператор GROUP BY. Но агрегирующие функции вполне можно использовать, например, так:

In [ ]:
SELECT name, subject, mark FROM marks
JOIN students ON students.rowid = marks.id
WHERE mark > (SELECT avg(mark) FROM marks WHERE id = 2 )
AND subject LIKE 'Си'

## **Задание 4**
Приведите пример запроса с вложенным подзапросом, который возвращает несколько записей

In [80]:
import sqlite3

# Устанавливаем соединение с базой данных
connection = sqlite3.connect('uni.db')
cursor = connection.cursor()

# Выбираем всех
cursor.execute("SELECT name, subject, mark FROM marks JOIN students ON students.rowid = marks.id WHERE mark < (SELECT avg(mark) FROM marks WHERE id = 1 ) AND subject LIKE 'Си'")
users = cursor.fetchall()

# Выводим результаты
for name in users:
  print(name)

# Закрываем соединениеimport sqlite3

# Закрываем соединение
connection.close()

('Serg', 'Си', 4)
('Linda', 'Си', 3)

# **Вложения в команде INSERT**

Если создать таблицу female с полями идентичными students. Вот таким образом:
SELECT * FROM students WHERE sex = 2
INSERT INTO female SELECT * FROM students WHERE sex = 2
.

In [ ]:
SELECT * FROM students WHERE sex = 2
INSERT INTO female SELECT * FROM students WHERE sex = 2


Но если выполнить запрос еще раз, то возникнет ошибка, т.к. пытаемся добавить строки с уже существующими id, что запрещено по структуре этого поля – оно определено как главный ключ и содержит только уникальные значения

In [81]:
import sqlite3

try:
    sqlite_connection = sqlite3.connect('uni.db')
    sqlite_create_table_query = '''CREATE TABLE female (
                                id INTEGER,
                                name TEXT,
                                sex INTEGER,
                                old INTEGER
                                );'''

    cursor = sqlite_connection.cursor()
    print("База данных подключена к SQLite")
    cursor.execute(sqlite_create_table_query)
    sqlite_connection.commit()
    print("Таблица SQLite создана")

    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Таблица SQLite создана
Соединение с SQLite закрыто

In [82]:
import sqlite3
import traceback
import sys

try:
    sqlite_connection = sqlite3.connect('uni.db')
    cursor = sqlite_connection.cursor()
    print("База данных подключена к SQLite")

    sqlite_insert_query = """INSERT INTO female SELECT * FROM students WHERE sex = 2"""

    count = cursor.execute(sqlite_insert_query)
    sqlite_connection.commit()
    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  2
Соединение с SQLite закрыто

In [83]:
import sqlite3

# Устанавливаем соединение с базой данных
connection = sqlite3.connect('uni.db')
cursor = connection.cursor()

# Выбираем всех
cursor.execute('SELECT * FROM female')
users = cursor.fetchall()

# Выводим результаты
for name in users:
  print(name)

# Закрываем соединениеimport sqlite3

# Закрываем соединение
connection.close()

(3, 'Linda', 2, 19)
(4, 'Anne', 2, 19)

Чтобы поправить ситуацию, можно вложенный запрос написать так:

In [ ]:
INSERT INTO female
SELECT NULL, name, sex, old FROM students WHERE sex = 2

In [84]:
import sqlite3
import traceback
import sys

try:
    sqlite_connection = sqlite3.connect('uni.db')
    cursor = sqlite_connection.cursor()
    print("База данных подключена к SQLite")

    sqlite_insert_query = """INSERT INTO female
                            SELECT NULL, name, sex, old FROM students WHERE sex = 2"""

    count = cursor.execute(sqlite_insert_query)
    sqlite_connection.commit()
    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  2
Соединение с SQLite закрыто

In [85]:
import sqlite3

# Устанавливаем соединение с базой данных
connection = sqlite3.connect('uni.db')
cursor = connection.cursor()

# Выбираем всех
cursor.execute('SELECT * FROM female')
users = cursor.fetchall()

# Выводим результаты
for name in users:
  print(name)

# Закрываем соединениеimport sqlite3

# Закрываем соединение
connection.close()

(3, 'Linda', 2, 19)
(4, 'Anne', 2, 19)
(None, 'Linda', 2, 19)
(None, 'Anne', 2, 19)

в качестве значения первого поля указали NULL и, соответственно, СУБД вместо него сгенерирует уникальный ключ для добавляемых записей.

# **Вложения в команде UPDATE**

## **Задание 5**

Что делает запрос?

UPDATE marks SET mark = 0
WHERE mark <= (SELECT min(mark) FROM marks WHERE id = 1)

In [47]:
import sqlite3
import traceback
import sys

try:
    sqlite_connection = sqlite3.connect('uni.db')
    cursor = sqlite_connection.cursor()
    print("База данных подключена к SQLite")

    sqlite_insert_query = """UPDATE marks SET mark = 0 WHERE mark <= (SELECT min(mark) FROM marks WHERE id = 1)"""

    count = cursor.execute(sqlite_insert_query)
    sqlite_connection.commit()
    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  5
Соединение с SQLite закрыто

In [48]:
import sqlite3

# Устанавливаем соединение с базой данных
connection = sqlite3.connect('uni.db')
cursor = connection.cursor()

# Выбираем всех
cursor.execute('SELECT * FROM marks')
users = cursor.fetchall()

# Выводим результаты
for name in users:
  print(name)

# Закрываем соединениеimport sqlite3

# Закрываем соединение
connection.close()

('1', 'Си', 0)
('2', 'Си', 0)
('3', 'Си', 0)
('4', 'Химия', 0)
('5', 'ДифУры', 0)

 Запрос обнуляет все оценки в таблице marks, которые меньше или равны минимальной оценки студента с id = 1

# **Вложения в команде DELETE**

## **Задание 6**

Что делает запрос?

DELETE FROM students
WHERE old < (SELECT old FROM students WHERE id = 2)

In [49]:
import sqlite3
import traceback
import sys

try:
    sqlite_connection = sqlite3.connect('uni.db')
    cursor = sqlite_connection.cursor()
    print("База данных подключена к SQLite")

    sqlite_insert_query = """DELETE FROM students WHERE old < (SELECT old FROM students WHERE id = 2)"""

    count = cursor.execute(sqlite_insert_query)
    sqlite_connection.commit()
    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Запись успешно вставлена ​​в таблицу sqlitedb_developers  2
Соединение с SQLite закрыто

In [50]:
import sqlite3

# Устанавливаем соединение с базой данных
connection = sqlite3.connect('uni.db')
cursor = connection.cursor()

# Выбираем всех
cursor.execute('SELECT * FROM students')
users = cursor.fetchall()

# Выводим результаты
for name in users:
  print(name)

# Закрываем соединениеimport sqlite3

# Закрываем соединение
connection.close()

('1', 'Аnri', 1, 22)
('2', 'Serg', 1, 20)
('5', 'Fred', 1, 21)

Удаляет из таблицы students всех студентов, возраст которых меньше, чем у студента с id = 2