<a href="https://colab.research.google.com/github/vn322/RUDN_Lab_Works/blob/main/SQL_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://sqlitebrowser.org

02.03.2024

In [ ]:
import sqlite3

In [ ]:
try:
    sqlite_connection = sqlite3.connect('sqlite_python.db')
    cursor = sqlite_connection.cursor()
    print("База данных создана и успешно подключена к SQLite")

    sqlite_select_query = "select sqlite_version();" #создается запрос для получения версии базы данны
    cursor.execute(sqlite_select_query)
    record = cursor.fetchall()
    print("Версия базы данных SQLite: ", record)
    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных создана и успешно подключена к SQLite
Версия базы данных SQLite:  [('3.37.2',)]
Соединение с SQLite закрыто

In [ ]:
import sqlite3

try:
    sqlite_connection = sqlite3.connect('sqlite_python.db')
    sqlite_create_table_query = '''CREATE TABLE sqlitedb_developers (
                                id INTEGER PRIMARY KEY,
                                name TEXT NOT NULL,
                                email text NOT NULL UNIQUE,
                                joining_date datetime,
                                salary REAL NOT NULL);'''

    cursor = sqlite_connection.cursor()
    print("База данных подключена к SQLite")
    cursor.execute(sqlite_create_table_query)
    sqlite_connection.commit()
    print("Таблица SQLite создана")

    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Таблица SQLite создана
Соединение с SQLite закрыто

NULL — значение NULL

INTEGER — числовые значения. Целые числа хранятся в 1, 2, 3, 4, 6 и 8 байтах в зависимости от величины

REAL — числа с плавающей точкой, например, 3.14, число Пи

TEXT — текстовые значения. Могут храниться в кодировке UTF-8, UTF-16BE или UTF-16LE

BLOB — бинарные данные. Для хранения изображений и файлов

In [ ]:
%%writefile sqlite_create_tables.sql
CREATE TABLE fruits (
 id INTEGER PRIMARY KEY,
 name TEXT NOT NULL,
 price REAL NOT NULL
);

CREATE TABLE drinks (
 id INTEGER PRIMARY KEY,
 name TEXT NOT NULL,
 price REAL NOT NULL
);

Writing sqlite_create_tables.sql

Создание резервных копий сразу нескольких баз данных за раз.
Сравнение количества строк двух разных баз с одной схемой.
Создание всех таблиц в одном скрипте, что позволит создать нужную схему на любом сервере

In [ ]:
import sqlite3

try:
    sqlite_connection = sqlite3.connect('sqlite_python.db')
    cursor = sqlite_connection.cursor()
    print("База данных подключена к SQLite")

    with open('sqlite_create_tables.sql', 'r') as sqlite_file:
        sql_script = sqlite_file.read()

    cursor.executescript(sql_script)
    print("Скрипт SQLite успешно выполнен")
    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при подключении к sqlite", error)
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Скрипт SQLite успешно выполнен
Соединение с SQLite закрыто

In [ ]:
import sqlite3
import traceback
import sys

try:
    sqlite_connection = sqlite3.connect('sqlite_python.db')
    cursor = sqlite_connection.cursor()
    print("База данных подключена к SQLite")

    sqlite_insert_query = """INSERT INTO unknown_table_1
                          (id, text)  VALUES  (1, 'Демо текст')"""

    count = cursor.execute(sqlite_insert_query)
    sqlite_connection.commit()
    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Не удалось вставить данные в таблицу sqlite
Класс исключения:  <class 'sqlite3.OperationalError'>
Исключение ('no such table: unknown_table_1',)
Печать подробноcтей исключения SQLite:
['Traceback (most recent call last):\n', '  File "<ipython-input-6-8844dcf85c9a>", line 13, in <module>\n    count = cursor.execute(sqlite_insert_query)\n', 'sqlite3.OperationalError: no such table: unknown_table_1\n']
Соединение с SQLite закрыто

sqlite3.Warning. Подкласс Exception. Его можно игнорировать, если нужно, чтобы оно не останавливало выполнение.

sqlite3.Error. Базовый класс для остальных исключений модуля sqlite3. Подкласс Exception.

sqlite3.DatabaseError. Исключение, которое возвращается при ошибках базы данных. Например, если попытаться открыть файл как базу sqite3, хотя он ею не является, то вернется ошибка «sqlite3.DatabaseError: file is encrypted or is not a database».

sqlite3.IntegrityError. Подкласс DatabaseError. Эта ошибка возвращается, когда затрагиваются отношения в базе, например, например, не проходит проверка внешнего ключа.

sqlite3.ProgrammingError. Подкласс DatabaseError. Эта ошибка возникает из-за ошибок программиста: создание таблицы с именем, которое уже занято, синтаксическая ошибка в SQL-запросах.

sqlite3.OperationalError. Подкласс DatabaseError. Эту ошибку невозможно контролировать. Она появляется в ситуациях, которые касаются работы базы данных, например, обрыв соединения, неработающий сервер, проблемы с источником данных и так далее.

sqlite3.NotSupportedError. Это исключение появляется при попытке использовать неподдерживаемое базой данных API. Пример: вызов метода rollback() для соединения, которое не поддерживает транзакции. Вызов коммита после команды создания таблицы.

In [ ]:
import sqlite3
import traceback
import sys

try:
    sqlite_connection = sqlite3.connect('sqlite_python.db')
    cursor = sqlite_connection.cursor()
    print("База данных подключена к SQLite")

    sqlite_insert_query = """INSERT INTO unknown_table_1
                          (id, text)  VALUES  (1, 'Демо текст')"""

    count = cursor.execute(sqlite_insert_query)
    sqlite_connection.commit()
    print("Запись успешно вставлена ​​в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sqlite_connection):
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

База данных подключена к SQLite
Не удалось вставить данные в таблицу sqlite
Класс исключения:  <class 'sqlite3.OperationalError'>
Исключение ('no such table: unknown_table_1',)
Печать подробноcтей исключения SQLite:
['Traceback (most recent call last):\n', '  File "<ipython-input-7-8844dcf85c9a>", line 13, in <module>\n    count = cursor.execute(sqlite_insert_query)\n', 'sqlite3.OperationalError: no such table: unknown_table_1\n']
Соединение с SQLite закрыто

Бывает такое, что есть несколько подключений к базе данных SQLite, и одно из них выполняет определенное изменение. Для этого соединению требуется выполнить блокировку — база данных блокируется до тех пор, пока транзакция не будет завершена.

Параметр timeout, который задается при подключении, определяет, как долго соединение будет ожидать отключения блокировки перед возвращением исключения.

In [ ]:
import sqlite3

def read_sqlite_table():
    try:
        sqlite_connection= sqlite3.connect('sqlite_python.db', timeout=20) #20c
        cursor = sqlite_connection.cursor()
        print("Подключен к SQLite")

        sqlite_select_query = """SELECT count(*) from sqlitedb_developers"""
        cursor.execute(sqlite_select_query)
        total_rows = cursor.fetchone()
        print("Всего строк:  ", total_rows)
        cursor.close()

    except sqlite3.Error as error:
        print("Ошибка при подключении к sqlite", error)
    finally:
        if (sqlite_connection):
            sqlite_connection.close()
            print("Соединение с SQLite закрыто")

read_sqlite_table()

Подключен к SQLite
Всего строк:   (0,)
Соединение с SQLite закрыто

Для статистики может потребоваться найти количество строк базы данных, которые были вставлены, удалены или изменены с момента открытия соединения. Для этого используется функция connection.total_changes модуля sqlite3.

In [ ]:
import sqlite3

try:
    sqlite_connection = sqlite3.connect('sqlite_python.db')
    cursor = sqlite_connection.cursor()
    print("Подключен к SQLite")

    sqlite_insert_query = """INSERT INTO sqlitedb_developers
                          (id, name, email, joining_date, salary)
                          VALUES (4, 'Alex', 'sale@gmail.com', '2020-11-20', 8600);"""
    cursor.execute(sqlite_insert_query)

    sql_update_query = """Update sqlitedb_developers set salary = 10000 where id = 4"""
    cursor.execute(sql_update_query)

    sql_delete_query = """DELETE from sqlitedb_developers where id = 4"""
    cursor.execute(sql_delete_query)

    sqlite_connection.commit()
    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при работе с SQLite", error)
finally:
    if (sqlite_connection):
        print("Всего строк, измененных после подключения к базе данных: ", sqlite_connection.total_changes)
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

Подключен к SQLite
Всего строк, измененных после подключения к базе данных:  3
Соединение с SQLite закрыто

Модуль sqlite3 в Python предоставляет функцию для сохранения резервной копии базы данных SQLite. С помощью метода connection.backup() можно сделать резервную копию базы SQLite.

Эта функция делает полную резервную копию базы данных SQLite. Изменения записываются в аргумент target, который должен быть экземпляром другого соединения.

По умолчанию когда параметр pages равен 0 или отрицательному числу, вся база данных копируется в один шаг. В противном случае метод выполняет цикл, копируя заданное количество страниц за раз.

Аргумент name определяет базу данных, резервную копию которой нужно сделать. Аргумент sleep — количество секунд между последовательными попытками сохранить оставшиеся страницы. Аргумент sleep можно задать как в качестве целого числа, так и в виде числа с плавающей точкой.

Рассмотрим один пример копирования базы данных в другую.

In [ ]:

import sqlite3

def progress(status, remaining, total):
    print(f'Скопировано {total-remaining} из {total}...')

try:
    sqlite_con = sqlite3.connect('sqlite_python.db')
    backup_con = sqlite3.connect('sqlite_backup.db')
    with backup_con:
        sqlite_con.backup(backup_con, pages=3, progress=progress)
    print("Резервное копирование выполнено успешно")
except sqlite3.Error as error:
    print("Ошибка при резервном копировании: ", error)
finally:
    if(backup_con):
        backup_con.close()
        sqlite_con.close()

Скопировано 3 из 5...
Скопировано 5 из 5...
Резервное копирование выполнено успешно

После подключения к SQLite обе базы данных были открыты с помощью двух разных подключений
Дальше выполняется метод connection.backup() с помощью экземпляра первого подключения. Также задано количество страниц, которые нужно скопировать за одну итерацию.

**Задание 1**

Добваить код исправяющий работу блоков с исключениями

1) создать нужную таблицу

2) добавить в нее пару записей

3) проверить как теперь будут рабртать эти блоки


name – строка с именем игрока;
sex – число, пол игрока (1 – мужской; 2 – женский);
old – число, возраст игрока;
score – суммарное число набранных очков за все игры.

CREATE TABLE users (
    name TEXT,
    sex INTEGER,
    old INTEGER,
    score INTEGER)

CREATE TABLE users (
    name TEXT,
    sex INTEGER,
    old INTEGER,
    score INTEGER
)

**формат команды INSERT**

INSERT INTO <table_name> (<column_name1>, <column_name2>, ...) VALUES (<value1>, <value2>, …)


**пример**

INSERT INTO users VALUES('Михаил', 1, 19, 1000)

INSERT INTO users (name, old, score) VALUES('Федор', 32, 200)


**формат команды SELECT**

SELECT col1, col2, … FROM <table_name>

**пример**

SELECT name, old, score FROM users

**Задание 2**

**Добавить в таблицу данные**

Алексей     1       22     1000

Миша         1       19     800

Федор        1       26     1100

Маша         2       18     1500

**Задаение 3:**

**сделать запрос к таблице users и показать имена всех игроков и их возраст**

** удаление таблицы  **

DROP TABLE users

CREATE TABLE IF NOT EXISTS users (
    name TEXT NOT NULL,
    sex INTEGER DEFAULT 1,
    old INTEGER,
    score INTEGER
)

**Оператор WHERE**

SELECT col1, col2, … FROM <table_name> WHERE <условие>

**пример**

SELECT * FROM users WHERE score < 1000

SELECT * FROM users WHERE score BETWEEN 500 AND 1000

SELECT * FROM users WHERE old = 32

**Задание 4: показать всех игроков старше 20 лет**

**Задание 5: что выведут запросы?**

SELECT * FROM users WHERE old > 20 AND score < 1000

SELECT * FROM users WHERE old IN(19, 32) AND score > 300 OR sex = 1

**Задание 6: что выведет запрос?**

SELECT * FROM users WHERE (old IN(19, 32) OR sex = 1) AND score > 300

**Сортировка ORDER BY**

**задание : что выведет запрос и в каком порядке?**

SELECT * FROM users WHERE score < 1000 ORDER BY old

In [ ]:
#  код от Кочеткова Максима Владимировича
# честь ему хвала
import sqlite3
import traceback
import sys
try:

    sql_con = sqlite3.connect('sqlite_python.db')
    cursor = sql_con.cursor()
    print("База данных подключена к SQLite")
    cur1 = sql_con.cursor()
    for i in cur1.execute("""SELECT * FROM users WHERE level > 20"""):
      print(i)
    sql_con.commit()
    print("Запись успешно вставлена в таблицу sqlitedb_developers ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:

    print("Не удалось вставить данные в таблицу sqlite")
    print("Класс исключения: ", error.__class__)
    print("Исключение", error.args)
    print("Печать подробноcтей исключения SQLite: ")
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))

finally:

    if (sql_con):
        sql_con.close()
        print("Соединение с SQLite закрыто")

**Задание 5.1**

Выполнить запросы, что каждый из них делает?

SELECT name, old, score FROM users

SELECT * FROM users

In [ ]:
# Оператор WHERE
# SELECT col1, col2, … FROM <table_name> WHERE <условие>
# = или ==, >, <, >=, <=, !=, BETWEEN

**Задание 5.2**

Выполнить запросы, что каждый из них делает?

SELECT * FROM users WHERE score < 1000

SELECT * FROM users WHERE score BETWEEN 500 AND 1000

SELECT * FROM users WHERE old = 32

Часто при описании фильтра требуется учитывать значения сразу нескольких столбцов.

Например, выбрать всех игроков старше 20 лет и с числом очков более 300. Здесь уже нужно использовать составное условие.

Для этого дополнительно используются следующие ключевые слова:

AND – условное И: exp1 AND exp2. Истинно, если одновременно истинны exp1 и exp2.

OR – условное ИЛИ: exp1 OR exp2. Истинно, если истинно exp1 или exp2 или оба выражения.

NOT – условное НЕ: NOT exp. Преобразует ложное условие в истинное и, наоборот, истинное – в ложное.

IN – вхождение во множество значений: col IN (val1, val2, …)


NOT IN – не вхождение во множество значений: col NOT IN (val1, val2, …)

**Задание 5.3**

Выполнить запросы, что каждый из них делает?

SELECT * FROM users WHERE old > 20 AND score < 1000

SELECT * FROM users WHERE old IN(19, 32) AND score < 1000

SELECT * FROM users WHERE old IN(19, 32) AND score > 300 OR sex = 1

SELECT * FROM users WHERE (old IN(19, 32) OR sex = 1) AND score > 300

самый высокий приоритет имеет операция NOT

SELECT * FROM users WHERE old IN(19, 32) AND NOT score > 300

**Сортировка ORDER BY**

**Задание 6**
Выполнить запросы, что каждый из них делает?

SELECT * FROM users WHERE score < 1000 ORDER BY old

SELECT * FROM users WHERE score < 1000 ORDER BY old DESC

если нужно явно показать, что сортировка производится по возрастанию, то можно записать флаг ASC

SELECT * FROM users WHERE score < 1000 ORDER BY old ASC

**Ограничение выборки LIMIT**

 первых 10 игроков с наибольшим числом

 LIMIT <max> [OFFSET offset]

LIMIT <offset, max>

**Задание 7**

добавить в таблицу записи:

Мария        2       18     400

Сергей       1       33     2000

Владимир  1       43     100

Елена         2       17     500

Юля  2       23     700

И, сформировать запрос на выбор лучших пяти игроков

In [ ]:
#SELECT * FROM users WHERE score > 100 ORDER BY score DESC LIMIT 5

параметр OFFSET позволяет пропускать несколько первых записей

**Задание 7**

SELECT * FROM users WHERE score > 100 ORDER BY score DESC LIMIT 5 OFFSET 2

SELECT * FROM users WHERE score > 100 ORDER BY score DESC LIMIT 2, 5

**Как распечатать результат**

In [ ]:
import sqlite3 as sq

with sq.connect("saper.db") as con:
    cur = con.cursor()

    cur.execute("SELECT * FROM users WHERE score > 100 ORDER BY score DESC LIMIT 5")
    result = cur.fetchall()
    print(result)
  # fetchall для получения результатов отбора SQL-запроса. В результате, result
  # будет ссылаться на упорядоченный список, состоящий из кортежей с данными таблицы

[]

In [ ]:
# Или, перебрать последовательно, используя Cursor в качестве итерируемого объекта
for result in cur:
    print(result)
#  более предпочтителен когда число выбираемых записей может быть велико.
# не формируем список, а последовательно выбираем из БД и тут же их обрабатываем.
#Такой подход существенно экономит память

Есть еще два метода, которые выдают результат выборки из таблицы:

fetchmany(size) – возвращает число записей не более size;
fetchone() – возвращает первую запись.

In [ ]:
result = cur.fetchone()
result2 = cur.fetchmany(2)
print(result)
print(result2)

None
[]

**UPDATE имя_таблицы SET имя_столбца = новое_значение WHERE условие**

UPDATE users SET score = 0


ключевое слово LIKE возвращает True, если поле в указанном столбце содержит указанное занчение. В строках можно использовать специальные символы:

% - любое продолжение строки;

_ - любой символ;

**Задание 8**

Выполнить запросы, что каждый из них делает?

UPDATE users SET score = 1000 WHERE rowid = 1

UPDATE users SET score = score+500 WHERE sex = 2

UPDATE users SET score = 1500 WHERE name LIKE 'Федор'

UPDATE users SET score = score+100 WHERE name LIKE 'М%'

UPDATE users SET score = score+100 WHERE name LIKE 'С_рг%'

 поменять значения сразу несколько столбцов записи

UPDATE users SET score = 700, old = 45 WHERE old > 40

**DELETE**

Синтаксис следующей команды для удаления записи из БД, следующий:

**DELETE FROM имя_таблицы WHERE условие**

**Задание 9**

Выполнить запросы, что каждый из них делает?

DELETE FROM users WHERE rowid IN(2, 5)

SELECT rowid, * FROM users

INSERT INTO users VALUES('Даша', 2, 24, 1200)


какой rowid?

**Агрегирующие функции в SELECT и GROUP BY**

**Задание 10**

создайте таблицу games где отображаются результаты каждой игры каждого игрока

(поля user-id score time)

**Задание 11**

Выполнить запросы, что каждый из них делает?

SELECT count(user_id) FROM games WHERE user_id = 1

SELECT count() as count FROM games WHERE user_id = 1

в команде SELECT можно использовать следующие наиболее распространенные агрегирующие функции:

count() – подсчет числа записей;
sum() – подсчет суммы указанного поля по всем записям выборки;

avr() – вычисление среднего арифметического указанного поля;

min() – нахождение минимального значения для указанного поля;

max() – нахождение максимального значения для указанного поля.

**Задание 12**

Выполнить запросы, что каждый из них делает?

SELECT DISTINCT user_id FROM games

SELECT count(DISTINCT user_id) as count FROM games

DISTINCT,  указывает СУБД выбирать записи с уникальными user_id

SELECT sum(score) as sum FROM games WHERE user_id = 1


SELECT max(score) FROM games WHERE user_id = 1

SELECT min(score) FROM games WHERE user_id = 1

**Группировка GROUP BY**
Язык SQL позволяет вызывать агрегирующие функции не для всех записей в выборке, а локально для указанных групп. Например,  создать список ТОП лучших игроков. Для этого нужно вызвать функции sum для каждого уникального user_id.

Это делается с помощью оператора

GROUP BY <имя поля>

который группирует записи по указанному столбцу. В этом случае агрегирующие функции будут работать в пределах каждой группы:

SELECT user_id, sum(score) as sum
FROM games
GROUP BY user_id

**Задание 13**

Выполнить запрос, что он делает?

SELECT user_id, sum(score) as sum FROM games GROUP BY user_id

**Задание 14** (чем отличаются от предыдущего, почему в результате число очков может измениться)

Выполнить запросы, что каждый из них делает?

SELECT user_id, sum(score) as sum

FROM games

WHERE score > 300

GROUP BY user_id

ORDER BY sum DESC

**Задание 15**
что изменится если добавить в конце LIMIT 1 ?

(если нужно задать ограничение по числу отбираемых записей, то в последнюю очередь записывается оператор LIMIT)

**Оператор JOIN для формирования сводного отчета**

JOIN <таблица> ON <условие связывания>

Таблица games содержит поле user_id (идентификатор пользователя),

которое является внешним ключом для связывания с таблицей users по полю rowid,

 которое является первичным ключом.

 **SELECT name, sex, games.score FROM games JOIN users ON games.user_id = users.rowid**

поле score записано как games.score, тем самым уточняя, что его следует брать из таблицы games.

Если этого не сделать, то СУБД возвратит ошибку неопределенности имени поля, т.к. score присутствует в обеих таблицах.

Далее указывается главная таблица games, с которой будут ассоциированы данные из второй таблицы users.

Условие связывания прописано после оператора ON как равенство полей games.user_id и users.rowid выбираемой записи.

То есть, сначала отбирается запись из главной таблицы games

и, затем, берется запись из таблицы users, у которой rowid равен user_id

Благодаря объединению данных мы видим не просто id игрока, а его имя, что гораздо удобнее для человеческого восприятия.

**Задание 16**

Выполнить запрос, что он делает?

SELECT name, sex, games.score FROM games JOIN users ON games.user_id = users.rowid



Объединять данные из таблиц можно и без оператора JOIN, просто указав их имена после FROM

SELECT name, sex, games.score FROM users, games

**Задание 17**

Выполнить запрос, что он делает?

SELECT name, sex, games.score FROM games
JOIN users ON games.user_id = users.rowid

аналог оператора INNER JOIN, соединение записей из двух таблиц, если соответствия найдены в обеих из них

удалить одну из записей из таблицы users

повторить запрос

и выполнить

SELECT name, sex, games.score FROM games
LEFT JOIN users ON games.user_id = users.rowid

**Задание 18**

получить таблицу с игроками, набравших максимальное число очков


SELECT user_id, sum(score) as sum
FROM games
GROUP BY user_id
ORDER BY sum DESC


SELECT name, sex, sum(games.score) as score
FROM games
JOIN users ON games.user_id = users.rowid
GROUP BY user_id
ORDER BY score DESC

В команде SELECT можно указывать несколько операторов JOIN для объединения данных из трех, четырех и большего числа таблиц:

SELECT <поля> FROM <таблица 1>

JOIN <таблица 2> JOIN <таблица 3> … JOIN <таблица N>

ON <условие связывания>